<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>

<script src="https://kit.fontawesome.com/252bd910c5.js" crossorigin="anonymous"></script>   

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="" th:href="@{/css/loginstyle.css}">
    <script src="" th:src="@{/js/loginscript.js}" defer></script>
</head>
<body>
 <section class="container forms">
        <div class="form login">
            <header>Login</header>
            	
            <div id="invalid-param" th:if="${param.error}">
			Invalid email and password.</div>
		<div id="logout-message" th:if="${param.logout}">
			You have been logged out.</div>
            
            <div class="form-data">
                <form method="post" action="" th:action="@{/authenticate}">
                    <div class="field input-field">
                        <input type="email" name="email" id="" placeholder="Email">
                    </div>

                    <div class="field input-field">
                        <input type="password" name="userPassword" id="password" placeholder="Password" >
                        <i class="fa-regular fa-eye-slash"></i>
                        
                    </div>

                    <div class="form-link">
                        <a href="#">Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button>Login</button>
                    </div>

                    <div class="form-link">
                        <Span>Don't have an account?<a href="" th:href="@{/signup}"> Signup</a></Span>
                    </div>


                </form>
            </div>
            
            <div class="line">
                <span>Or</span>
            </div>

            <div class="media-options">
                <a href="#" th:href="@{'/oauth2/authorization/google'}" class="field google">
                    <img  src="images/google.png" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>
        </div>
    </section>
</body>
</html>